{% load static tailwind_tags %}
{% load static %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.4/flowbite.min.js"></script>


<!--  left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 " tabindex="-1" aria-labelledby="drawer-label"> -->


<div id='drawer' class="overflow-y-auto h-screen m-4 p-4 fixed top-20 right-0 z-40 max-w-xl bg-white border border-gray-200 rounded-lg shadow  ">
    <div class="flex justify-between">
        {% if user.is_authenticated %}
        <button type="button" hx-indicator="#spinner" hx-get="close"  hx-target="#drawer" class="py-2.5 px-5 m-4 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>

        <button type="button" hx-indicator="#spinner" hx-get="/card/{{id}}/delete" hx-confirm="Are you sure you wish to delete this card?"  hx-target="#drawer" class="m-4 py-2.5  text-red-700 hover:text-white border border-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">Delete Card</button>
        {% else %}

        <a href="/dashboard/guest/{{workshop_secret}}">
            close
        </a>
        <a href="/user/register/{{workshop_secret}}">
            <button type="button" hx-indicator="#spinner" hx-get="close"  hx-target="#drawer" class="py-2.5 px-5 m-4 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700    dark:hover:text-white dark:hover:bg-gray-700">Create account to edit</button>
        </a>
        {% endif %}
    </div>
    
        {% include "new_title.html" with author=author workshop=workshop card_image=card_image%}
 
        <div class=" bg-grey-100 my-3">
            <div class="bg-grey-100">
                <div class="bg-gray-50 rounded-lg shadow">
                    <div class="flex mx-4 pt-4 px-4">
                        <img src="{% static '/icons/pen-nib-solid.svg' %}" class=" h-4 w-4 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Author </h5> 
                    </div>
                    <div class="items-center  sm:flex">
                        <a href="#">
                            <img class="w-full p-6 rounded-lg sm:rounded-none sm:rounded-l-lg" src="{{author.avatar.url}}" alt="{{author.first_name}} Avatar">
                        </a>
                        <div class="p-5">
                            <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
                                {{author.first_name}} {{author.last_name}}
                            </h3>
                            <span class="text-gray-500 dark:text-gray-400">{{author.organisation}}</span>
                            <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">{{author.email}} <br> {{author.linkedin}}</p>
                        </div>
                    </div>  
                </div>           
            </div>
        </div>

        <div class=" bg-grey-100 my-3">
            <div class="bg-grey-100">
                <div class="bg-gray-50 rounded-lg shadow">
                    <div class="flex mx-4 pt-4 px-4">
                        <img src="{% static '/icons/heart-solid.svg' %}" class=" h-4 w-4 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Followers </h5> 
                    </div>
                    <div class="items-center m-4 py-4 sm:flex">
                        {% if user.is_authenticated%}
                        {% if user_follows_card %}
                        <div id="like">
                            {% include "liked.html" with id=id %}
                        </div>
                        {% else %}
                        <div id="like">
                            {% include "notliked.html" with id=id %}
                        </div>
                        {% endif %}
                    {% endif %}
                    {% for follower in followers %}
                    <div class="m-4">
                    <div id="tooltip-{{follower.first_name}}-{{follower.id}}" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        {{follower.first_name}}
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                    <img data-tooltip-target="tooltip-{{follower.first_name}}-{{follower.id}}" class="w-10 h-10 rounded" src="{{follower.avatar.url}}" alt="Medium avatar">
                    </div>
                    {% empty %}
                    <p class="ml-auto text-xs p-4 m-4 text-gray-500 ">No followers yet, be the first!</p>
                {% endfor %}
            </div>  
                </div>           
            </div>
        </div>

        <div class=" bg-grey-100 my-3">
            <div class="bg-grey-100">
                <div class="bg-gray-50 rounded-lg shadow">
                    <div class="flex mx-4 pt-4 px-4">
                        <img src="{% static '/icons/Notes.svg' %}" class=" h-4 w-4 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Description </h5> 
                    </div>
                    <div class="items-center  sm:flex">
                        <div class="items-center m-4 p-4 sm:flex"> 
                            {% include "new_description.html" %}
        
                        </div>
                    </div>  
                </div>           
            </div>
        </div>

        <div class=" bg-grey-100 my-3">
            <div class="bg-grey-100">
                <div class="bg-gray-50 rounded-lg shadow">
                    <div class="flex mx-4 pt-4 px-4">
                        <img src="{% static '/icons/Resources.svg' %}" class=" h-4 w-4 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Resources </h5> 
                    </div>
                    <div class="items-center  mx-4 px-4  ">
                            {% include 'resources.html' with resources=resources id=id %}       
                    </div>  
                </div>           
            </div>
        </div>

        <div class=" bg-grey-100 my-3">
            <div class="bg-grey-100">
                <div class="bg-gray-50 rounded-lg shadow">
                    <div class="flex mx-4 pt-4 px-4">
                        <img src="{% static '/icons/bell-solid.svg' %}" class=" h-4 w-4 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Updates </h5>
                    </div>
                    <div class="items-center  mx-4 px-4  ">
                        {% include 'typecomment.html' with comments=comments %}
                    </div>  
                </div>           
            </div>
        </div>
    </div>
</div>
