
<div id="resources" class="p-4 flow-root">
    <ul role="list" class="divide-y divide-gray-200 ">
        {% for resource in resources %}
            <li class="py-3 sm:py-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <img class="w-8 h-8 rounded-full" src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url={{resource.document_url}}/&size=64" alt="Resource Logo">
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-sm font-medium text-gray-900 truncate ">
                            <a href="{{resource.document_url}}" target="popup">  {{resource.document_description|truncatechars:70}}</a>
                        </p>
                        <p class="text-xs text-gray-500 ">
                            {{resource.date_created}}
                        </p>
                        <p class="text-sm text-gray-500 truncate ">
                            <a href="{{resource.document_url}}" target="popup"> {{resource.document_url|truncatechars:50 }} </a>
                        </p>
                       
                    </div>
                </a>
                    {% if resource.owner == request.user %}
                    by you
                            <button type="button" hx-indicator="#spinner" hx-confirm="Are you sure you wish to delete this resource?" hx-target="#resources" hx-swap="outerHTML" hx-DELETE="/card/{{ id }}/resource/{{resource.id}}/delete/" class="py-2.5 px-5 m-4 mr-2 mb-2 text-xs font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-steunkleur-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700    dark:hover:text-white dark:hover:bg-gray-700">
                                Delete 
                            </button>
                    {% else %}
                    <div class=" p-2 inline-flex items-center text-base text-gray-900 ">
                        {{resource.owner.first_name}} {{resource.owner.last_name}}
                        <div class="flex-shrink-0 p-2">
                            <img class="w-8 h-8 rounded-full" src="{{resource.owner.avatar_url}}" alt="Lana image">
                        </div>
                    </div>

                    {% endif %}
                    
                </div>
            </li>
                {% empty %}
                <p class="ml-auto text-xs p-4 m-4 text-gray-500 ">No resources yet, add one!</p>
        {% endfor %}        
    </ul>
    {% if user.is_authenticated %}
    <div id="addresource">
    <button hx-get="/card/{{ id }}/resource/create" hx-trigger="click" hx-target="#addresource" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">add  resource</button>
    {% endif %}
    </div>
</div>
