{% load static%}
{% include 'comment.html' with comments=comments id=id %}
{% if user.is_authenticated %}
<form>
    <div class="w-full m-4 border border-gray-200 rounded-lg bg-gray-50  ">
        <div class="p-2 bg-white rounded-t-lg ">
            {% csrf_token %}
            {{ form }}       
         </div>
        <div class="flex items-end justify-end py-2 border-t ">
            <button type="button" hx-indicator="#spinner" hx-target="#comments" hx-post="/card/{{ id }}/comment/create/no/" class="text-white hover:text-white border border-steunkleur-700 bg-steunkleur-700 hover:bg-steunkleur-800 focus:ring-4 focus:outline-none focus:ring-steunkleur-300 font-medium rounded-lg text-xs px-4 py-2.5 text-center mr-2 mb-2">
                Post comment
            </button>
            <button type="button" hx-indicator="#spinner" hx-target="#comments" hx-post="/card/{{ id }}/comment/create/yes/" class="text-white bg-steunkleur bg-steunkleur-700  hover:bg-steunkleur-800 focus:ring-4 focus:ring-steunkleur-400 font-medium rounded-lg text-sm px-5 py-2.5 mb-2">
            Post and notify followers
            </button>
        </div>
    </div>
 </form>
 <p class="px-4 ml-auto text-xs text-gray-500 ">Remember, contributions to this topic should follow our <a href="#" class="text-steunkleur-600  hover:underline">Community Guidelines</a>.</p>
 {% else%}
 <div class="p-4 w-full mb-40 border border-gray-200 rounded-lg bg-gray-50  ">
 </div>
 {% endif %}
 <div style="height: 140px;"></div>				

 