Django>=4.1,<4.2
mysqlclient==2.1.1
environ==1.0
django-environ
gunicorn==20.1.0
setuptools==65.5.1
requests==2.28.2
django-ckeditor==6.5.1
django-tailwind==3.5.0
fontawesomefree==5.15.4
djangorestframework==3.14.0
django_extensions==3.2.1
django-jsonfield==1.4.1
django-environ
boto3
django-storages