Django>=4.1,<4.2
mysqlclient==2.1.1
environ==1.0
django-environ
gunicorn==20.1.0
setuptools==65.5.1
requests==2.28.2
django-ckeditor==6.5.1
django-tailwind
fontawesome-free
djangorestframework
django_extensions