<div class="flex flex-row">
    <div class="basis-3/4 overflow-hidden bg-white shadow sm:rounded-lg mb-8">
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto grid max-w-7xl gap-y-20 gap-x-8 px-6 lg:px-8 xl:grid-cols-3">
          <div class="max-w-2xl">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Meet your peers</h2>
            <p class="mt-6 text-lg leading-8 text-gray-600">Libero fames augue nisl porttitor nisi, quis. Id ac elit odio vitae elementum enim vitae ullamcorper suspendisse.</p>
          </div>
          <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
            {% for participant in participants %}
            <li>
              <div class="flex items-center gap-x-6">
                <img class="h-16 w-16 rounded-full" src="{{ participant.avatar_url}}" alt="">
                <div>
                  <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{{ participant.first_name }} {{ participant.last_name }}</h3>
                  <p class="text-sm font-semibold leading-6 text-indigo-600">{{ participant.organisation}}</p>
                </div>
              </div>
            </li>
            {% endfor %}
      
            <!-- More people... -->
          </ul>
        </div>
      </div>
  </div>

    <div class=" basis-1/4 overflow-hidden bg-white shadow sm:rounded-lg mb-8 ml-3">
      <div class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <dl class=" flex flex-col grid grid-cols-1 gap-y-16 gap-x-8 text-center">
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Ideas posted</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">12</dd>
            </div>
      
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Resources connected</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl"> 54</dd>
            </div>
      
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base leading-7 text-gray-600">Challenges tackled</dt>
              <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">5</dd>
            </div>
          </dl>
        </div>
      </div>
  </div>
</div>