{% extends "base.html" %}
{% block title %} Mapmaker.nl - Platform {% endblock %}
{% load static %}

{% block content %}
<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                        <img class="mr-4 w-16 h-16 rounded-full" src="{% static '/images/joephero.png' %}" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 ">Joep Kuijper</a>
                            <p class="text-base font-light text-gray-500 ">Designer, Workshop Facilitator  &  co-founder of Mapmaker</p>
                            <p class="text-base font-light text-gray-500 "><time pubdate datetime="2023-04-08" title="April 8th, 2022">Apr. 8, 2023</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">Mapmaker Platform</h1>
            </header>
            <p class="lead">Mapmaker is a company that offers a variety of workshops, cards and an online platform to help people and organizations to become more creative, innovative, and productive. </p>
            <figure><img src="{% static '/images/heroimage.png' %}" alt="">
                <figcaption>The dashboard of the platform</figcaption>
            </figure>
            <h2>Getting started with mapmaker platform</h2>
            <p>Mapmaker's online platform is a powerful tool that allows participants to stay connected and engaged long after the workshops have ended. This platform is a unique combination of Miro and Trello, designed specifically to help individuals and organizations continue their creative and innovative journeys even after they have completed a workshop.

            </p><br><br>
            <p>One of the key features of Mapmaker's online platform is its intuitive and user-friendly interface. The platform is designed to be easy to use and navigate, even for people with little or no experience with online collaboration tools. This makes it an ideal tool for individuals and teams who want to stay connected and engaged with each other, even when they are not physically in the same place.
            </p><br><br>
            <p>
                Another important feature of Mapmaker's online platform is its versatility. The platform can be used for a wide range of purposes, from brainstorming and idea generation to project management and collaboration. This makes it an ideal tool for individuals and organizations who want to stay organized and productive, even when they are working remotely or across different time zones.
            </p><br>
            <p>
                Perhaps most importantly, Mapmaker's online platform is designed to facilitate ongoing communication and collaboration between workshop participants. The platform allows participants to share ideas, ask questions, and provide feedback to each other in real-time, creating a sense of community and camaraderie that can be difficult to achieve through traditional learning methods. This ongoing engagement not only helps individuals to retain and apply what they have learned in the workshop, but also fosters a culture of continuous learning and improvement.
            </p><br><br>
            <p>
                In conclusion, Mapmaker's online platform is a powerful tool that allows participants to stay connected and engaged long after the workshops have ended. With its intuitive and user-friendly interface, versatility, and focus on ongoing communication and collaboration, the platform is an ideal tool for individuals and organizations who want to continue their creative and innovative journeys beyond the workshop setting. So why wait? Sign up for a workshop today and start exploring the possibilities of Mapmaker's online platform!

            </p>
            
        </article>
    </div>
  </main>
  
  {% include "related_articles.html" %}
  
{% endblock %}