{% load static %}

<aside aria-label="Related articles" class="py-8 lg:py-24 bg-gray-50 ">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2 class="mb-8 text-2xl font-bold text-gray-900 -white">Articles</h2>
        <div class="grid gap-12 sm:grid-cols-2 lg:grid-cols-4">
            <article class="max-w-xs">
                <a href="/product/cards">
                    <img src="{% static '/images/cards1.jpeg' %}" class="mb-5 rounded-lg" alt="Image 1">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 -white">
                    <a href="/product/cards">Our hexagon shaped cards</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 ">Over the past year, Mapmaker has designed our customcardset. To help you get the most out of your workshop</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 -primary-500 hover:no-underline">
                    Read in 2 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="/product/workshop">
                    <img src="{% static '/images/joephero.png' %}" class="mb-5 rounded-lg" alt="Image 2">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 -white">
                    <a href="#">Care free workshops</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 ">Mapmaker can fascilitate a workshop from A to Z, providing a trainer the cards and methodology. All you bring is participants.</p>
                <a href="/product/workshop" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 -primary-500 hover:no-underline">
                    Read in 12 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="/product/platform">
                    <img src="{% static '/images/heroimage.png' %}" class="mb-5 rounded-lg" alt="Image 3">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 -white">
                    <a href="#">The Mapmaker online Platform</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 ">No more post-it's. Mapmakers online platform ensures your workshop remains preserved and can be accessed well after the workshop is done.</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 -primary-500 hover:no-underline">
                    Read in 8 minutes
                </a>
            </article>
            <article class="max-w-xs">
                <a href="#">
                    <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/article/blog-4.png" class="mb-5 rounded-lg" alt="Image 4">
                </a>
                <h2 class="mb-2 text-xl font-bold leading-tight text-gray-900 -white">
                    <a href="/contact">Our story - how we set out to change the world of collaborating</a>
                </h2>
                <p class="mb-4 font-light text-gray-500 ">Over the past year, Joep and Peter have been working dilligently to figure out...</p>
                <a href="#" class="inline-flex items-center font-medium underline underline-offset-4 text-primary-600 -primary-500 hover:no-underline">
                    Read in 4 minutes
                </a>
            </article>
        </div>
    </div>
  </aside>
