{% extends "base.html" %}
{% block title %} Contact and Order {% endblock %}
{% load static %}

{% block content %}
<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900">
                        <img class="mr-4 w-16 h-16 rounded-full" src="{% static '/images/peterhero.png' %}" alt="Peter van Doorn">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 ">Peter van Doorn</a>
                            <p class="text-base font-light text-gray-500 ">Programmer, workshop host & co-founder Mapmaker.nl</p>
                            <p class="text-base font-light text-gray-500 "><time pubdate datetime="2022-02-08" title="April 8th, 2023">Apr. 8, 2023</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">Get in touch, or request a order for a workshop, cardset of the online platform</h1>
            </header>
            <p class="lead">Mapmaker offers Workshops, a custom cardset and a online platform to enhance collaborations.</p>
            <br><br>
            <p>Tell us what you're looking for and we'll get back to you within 24H</p>

            {% include "request_order_form.html" %}

        </article>
    </div>
  </main>

  {% include "related_articles.html" %}

{% endblock %}
