{% extends "base.html" %}

{% block title %}Dashboard {{workshop}} {% endblock %}
{% block content %}
<main class="grid full place-items-center lg:px-8">
  <div style="display: inline-block; margin-left: 150px;">
    <div id="zoom">
      {% if zoomlevel == '0' %}
        {% include 'grid_zoom_standard.html' with cards=cards %}
      {% elif zoomlevel == '1' %}
        {% include 'grid_zoom_out.html' with cards=cards %}
      {% elif zoomlevel == '2' %}
        {% include 'grid_zoom_in.html' with cards=cards %}
      {% endif %}
    </div>
  </div>
</main>
<script>
  setTimeout(function(){ ScreenshotReady() }, 2000);
</script>

{% include 'legend1.html' %}
{% endblock %}
