{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="flex h-screen items-center justify-center px-4 sm:px-6 lg:px-8 bg">
    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div>
        <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-800">The link to this workshop expired</h1>
      </div>
      <p>A link shared with you stays valid for 7 days. You can get a new link by contacting the person that sent you the link before.</p><br>
      <p>If you want to be able to access the workshop 24/7 consider creating your own account!</p>

    </div>
  </div>

{% endblock %}
