<style type="text/css">
    .gridmain {
        display:flex;
        flex-wrap: nowrap;
        --s: 50px;  /* size  */
        --m: 1px;    /* margin */
        --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
        padding-bottom: 50px;

    }

    .gridcontainer {
        font-size: 0; /*disable white space between inline block element */
        width: 728px; /* We need a fixed size so we know that the divs won't overflow*/
        height: 1000px; /* We need a fixed size so we know that the divs won't overflow*/
        background-color: aliceblue;

    }

    .gridcontainer div {
        width: var(--s);
        margin: var(--m);
        height: calc(var(--s)*1.1547); 
        display: inline-block;
        font-size:initial;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        margin-bottom: calc(var(--m) - var(--s)*0.2885); 
        overflow: hidden;
    }
    /*
    .gridcontainer div:nth-child(odd) {
      background:green;
    }
    */
    .gridcontainer::before {
        content: "";
        width: calc(var(--s)/2 + var(--m));
        float: left;
        height: 100%;
        shape-outside: repeating-linear-gradient(     
                        #0000 0 calc(var(--f) - 3px),      
                        #000  0 var(--f));
    }
    .gridcontainer::after {
        content: "";
        width: calc(var(--s)/2 + var(--m));
        float: right;
        height: 100%;
        shape-outside: repeating-linear-gradient(     
                        #0000 0 calc(var(--f) - 3px),      
                        #000  0 var(--f));
    }
    .hexagonhidden {
        padding-top: 9px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 1;
        background: #fff;
        
    }
    .hexagonhidden:hover{
        background-color:#78E7BF;
        opacity: 0.5;
        padding-top: 20px;

    }
    .hexagon {
        padding-top: 0px;
        text-align: center;
        vertical-align: middle;
        color: #000000;
        cursor: pointer;
    }
</style>

<div hx-get="/dashboard/update" hx-target="#grid" hx-trigger="every 4s" hx-swap="morphdom"></div>
<div id="drawer"></div>
<div style="z-index: 999;" id="modal"></div>
<div id="grid" class="gridmain">
        <form class="gridcontainer sortable" hx-post="/dashboard/update" hx-trigger="end">
        {% for card in cards %}
        {% if card.cardtype == 'empty' %}
            <div class="hexagonhidden" hx-get="/card/{{ card.id }}/create" hx-trigger="click" hx-target="#modal"><input type='hidden' name='item' value='{{ card.id}}'/>   
                <i class="fa-regular fa-plus"></i><br>         
            </div>
        {% elif card.cardtype == 'ambition' %}
            <div class="hexagon" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #000000; color: #fff"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-solid fa-eye"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% elif card.cardtype == 'challenge' %}
            <div class="hexagon" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #E6799D;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-regular fa-mountain"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% elif card.cardtype == 'idea' %}
            <div class="hexagon"  hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #51c1ff;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-regular fa-lightbulb "></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% elif card.cardtype == 'pro' %}
            <div class="hexagon"  hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #ffeb39;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-solid fa-circle-up "></i><br>
                {{ card.title|truncatechars:20}}
            </div>
            {% elif card.cardtype == 'con' %}
            <div class="hexagon" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: red;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-solid fa-circle-down"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% endif %}
        {% endfor %}
        </form>
    </div>
</div>

<!--Zoom function-->
<script>
function setZoom(zoom,el) {
    
    transformOrigin = [0,0];
    el = el || instance.getContainer();
    var p = ["webkit", "moz", "ms", "o"],
        s = "scale(" + zoom + ")",
        oString = (transformOrigin[0] * 100) + "% " + (transformOrigin[1] * 100) + "%";

    for (var i = 0; i < p.length; i++) {
        el.style[p[i] + "Transform"] = s;
        el.style[p[i] + "TransformOrigin"] = oString;
    }

    el.style["transform"] = s;
    el.style["transformOrigin"] = oString;
    
}

//setZoom(5,document.getElementsByClassName('container')[0]);

function showVal(a){
    var zoomScale = Number(a)/10;
    setZoom(zoomScale,document.getElementsByClassName('gridcontainer')[0])
}
</script>