{% load static %}

<style type="text/css">
    .gridmain {
        display:flex;
        flex-wrap: nowrap;
        --s: 200px;  /* size  */
        --m: 1px;    /* margin */
        --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
        padding: 100px;

    }

    .gridcontainer {
        font-size: 0; /*disable white space between inline block element */
        width: 2990px; /* We need a fixed size so we know that the divs won't overflow*/
    }

    .gridcontainer div {
        width: var(--s);
        margin: var(--m);
        height: calc(var(--s)*1.1547); 
        display: inline-block;
        font-size:initial;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        margin-bottom: calc(var(--m) - var(--s)*0.2885); 
        overflow: hidden;
    }
    /*
    .gridcontainer div:nth-child(odd) {
      background:green;
    }
    */
    .gridcontainer::before {
        content: "";
        width: calc(var(--s)/2 + var(--m));
        float: left;
        height: 100%;
        shape-outside: repeating-linear-gradient(     
                        #0000 0 calc(var(--f) - 3px),      
                        #000  0 var(--f));
    }
    .hexagonhidden {
        padding-top: 50px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 1;
        background: #fff;
        
    }
    .hexagonhidden img {
        display: block;
        margin: auto;
    }
    .hexagonhidden:hover{
        background-color:#78E7BF;
        opacity: 0.5;
        padding-top: 100px;
    }
    .hexagon {
        padding-top: 10px;
        text-align: center;
        align-content: center;
        align-items: center;
        vertical-align: middle;
        color: #000000;
        cursor: pointer;
    }
    .hexagon img {
        display: block;
        margin: auto;
    }
    .avatar {
        display: block;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4px;
        margin-bottom: 4px;
    }
</style>

<div hx-get="/dashboard/update" hx-target="#grid" hx-swap="morphdom">
<div id="drawer"></div>
<div style="z-index: 999;" id="modal"></div>
<div id="grid" class="gridmain">
        <form class="gridcontainer sortable" hx-indicator="#spinner" hx-post="/dashboard/update" hx-trigger="end">
        {% for card in cards %}
        {% if card.cardtype == 'empty' %}
            <div class="hexagonhidden flex items-center"  hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/create"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <img style="filter: invert(100%)  brightness(119%) contrast(119%);" src="{% static '/icons/plus-solid.svg' %}" class=" h-6 w-6 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                <b>Create new card</b>       
            </div>
        {% elif card.cardtype == 'legend_1' %}
            <div class="hexagon flex items-center" hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #{{workshop.legend_hex_color_1}}; color: #fff"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <img style="filter: invert(100%)  brightness(119%) contrast(119%);" src="{% static '/icons/flag-solid.svg' %}" class=" h-6 w-6 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                {{card.cardtype}}<br>
                <b>{{ card.title|truncatechars:20}}</b>
                <img class="w-10 h-10 rounded-full avatar" src="{{card.author.avatar_url}}">
                <br>{{ card.author.first_name}}  {{ card.author.last_name}} 
            </div>
        {% elif card.cardtype == 'legend_2' %}
            <div class="hexagon flex items-center"  hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #{{workshop.legend_hex_color_2}};"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <img src="{% static '/icons/thumbs-up-solid.svg' %}" class=" h-6 w-6 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                {{card.cardtype}}<br>
                <b>{{ card.title|truncatechars:20}}</b>
                <img class="w-10 h-10 rounded-full avatar" src="{{card.author.avatar_url}}">
                <br>{{ card.author.first_name}}  {{ card.author.last_name}} 
            </div>
        {% elif card.cardtype == 'legend_3' %}
            <div class="hexagon flex items-center"  hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #{{workshop.legend_hex_color_3}};"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <img src="{% static '/icons/lightbulb-solid.svg' %}" class=" h-6 w-6 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                {{card.cardtype}}<br>
                <b>{{ card.title|truncatechars:20}}</b>
                <img class="w-10 h-10 rounded-full avatar" src="{{card.author.avatar_url}}">
                <br>{{ card.author.first_name}}  {{ card.author.last_name}} 
            </div>
        {% elif card.cardtype == 'legend_4' %}
            <div class="hexagon" hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #{{workshop.legend_hex_color_4}};"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <img src="{% static '/icons/thumbs-up-solid.svg' %}" class=" h-6 w-6 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                {{card.cardtype}}<br>
                <b>{{ card.title|truncatechars:20}}</b>
                <img class="w-10 h-10 rounded-full avatar" src="{{card.author.avatar_url}}">
                <br>{{ card.author.first_name}}  {{ card.author.last_name}} 
            </div>
            {% elif card.cardtype == 'legend_5' %}
            <div class="hexagon" hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background: #{{workshop.legend_hex_color_5}};"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <img src="{% static '/icons/thumbs-down-solid.svg' %}" class=" h-6 w-6 pb-2 mr-3 sm:h-9" alt="mapmaker Logo" />
                {{card.cardtype}}<br>
                <b>{{ card.title|truncatechars:20}}</b>
                <div class="flex">
                <img class="w-10 h-10 rounded-full avatar" style="position: center;" src="{{card.author.avatar_url}}">
                <br>{{ card.author.first_name}}  {{ card.author.last_name}} 
                </div>
            </div>
            {% elif card.cardtype == 'image_card' %}
                <div class="hexagon" hx-indicator="#spinner" hx-target="#drawer" hx-get="/card/{{ card.id }}/open" style="background-image: url('https://static01.nyt.com/images/2020/12/14/well/14google-photo/14google-photo-videoSixteenByNineJumbo1600.jpg'); background-size: cover; background-position: center;"><input type='hidden' name='item' value='{{ card.id}}'/>            

                </div>
        {% endif %}
        {% endfor %}
        </form>
    </div>
</div>

<!--Zoom function-->
<script>
function setZoom(zoom,el) {
    
    transformOrigin = [0,0];
    el = el || instance.getContainer();
    var p = ["webkit", "moz", "ms", "o"],
        s = "scale(" + zoom + ")",
        oString = (transformOrigin[0] * 100) + "% " + (transformOrigin[1] * 100) + "%";

    for (var i = 0; i < p.length; i++) {
        el.style[p[i] + "Transform"] = s;
        el.style[p[i] + "TransformOrigin"] = oString;
    }

    el.style["transform"] = s;
    el.style["transformOrigin"] = oString;
    
}

//setZoom(5,document.getElementsByClassName('container')[0]);

function showVal(a){
    var zoomScale = Number(a)/10;
    setZoom(zoomScale,document.getElementsByClassName('gridcontainer')[0])
}
</script>