<style type="text/css">
    .gridmain {
        display:flex;
        flex-wrap: nowrap;
        --s: 100px;  /* size  */
        --m: 1px;    /* margin */
        --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
        padding-bottom: 50px;
    }

    .gridcontainer {
      font-size: 0; /*disable white space between inline block element */
      width: 1800px; /* We need a fixed size so we know that the divs won't overflow*/
      height: 1200px; /* We need a fixed size so we know that the divs won't overflow*/
    }

    .gridcontainer div {
      width: var(--s);
      margin: var(--m);
      height: calc(var(--s)*1.1547); 
      display: inline-block;
      font-size:initial;
      clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
      margin-bottom: calc(var(--m) - var(--s)*0.2885); 
      overflow: hidden;
    }
    /*
    .gridcontainer div:nth-child(odd) {
      background:green;
    }
    */
    .gridcontainer::before {
      content: "";
      width: calc(var(--s)/2 + var(--m));
      float: left;
      height: 120%;
      shape-outside: repeating-linear-gradient(     
                       #0000 0 calc(var(--f) - 3px),      
                       #000  0 var(--f));
    }
    .hexagonhidden {
        padding-top: 50px;
        text-align: center;
        vertical-align: middle;
        color: #fff;
        font-size: 1;
        
    }
    .hexagonhidden:hover{
        background-color:#78E7BF;
        opacity: 0.5;
        padding-top: 45px;
    }
    .hexagon {
        padding-top: 10px;
        text-align: center;
        vertical-align: middle;
        color: #000000;
    }
</style>

<div hx-get="/dashboard/update" hx-target="#grid" hx-trigger="every 4s" hx-swap="morphdom"></div>
<div id="drawer"></div>
<div id="modal"></div>
<div id="grid" class="gridmain">
        <form class="gridcontainer sortable" hx-post="/dashboard/update" hx-trigger="end">
        {% for card in cards %}
        {% if card.cardtype == 'empty' %}
            <div class="hexagonhidden" hx-get="/dashboard/card/{{ card.id }}/create" hx-trigger="dblclick" hx-target="#modal"><input type='hidden' name='item' value='{{ card.id}}'/>   
                <i class="fa-regular fa-2xl fa-plus"></i><br>         
            </div>
        {% elif card.cardtype == 'ambition' %}
            <div class="hexagon" hx-target="#drawer" hx-get="/dashboard/card/{{ card.id }}/open" style="background: #000000; color: #fff"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-solid fa-xl fa-eye"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% elif card.cardtype == 'challenge' %}E6799D
            <div class="hexagon" hx-target="#drawer" hx-get="/dashboard/card/{{ card.id }}/open" style="background: #E6799D;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-regular fa-xl fa-mountain"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% elif card.cardtype == 'idea' %}
            <div class="hexagon"  hx-target="#drawer" hx-get="/dashboard/card/{{ card.id }}/open" style="background: #51c1ff;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-regular fa-lightbulb fa-xl"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% elif card.cardtype == 'pro' %}
            <div class="hexagon"  hx-target="#drawer" hx-get="/dashboard/card/{{ card.id }}/open" style="background: #ffeb39;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-regular fa-lightbulb fa-xl"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
            {% elif card.cardtype == 'con' %}
            <div class="hexagon" hx-target="#drawer" hx-get="/dashboard/card/{{ card.id }}/open" style="background: red;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                <i class="fa-regular fa-lightbulb fa-xl"></i><br>
                {{ card.title|truncatechars:20}}
            </div>
        {% endif %}
        {% endfor %}
        </form>
    </div>
</div>
