<style>
    .legendhex {
        width: 200px;
        margin:0 5px;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
}

.legendhex::before {
  content: "";
  display: block;
  background:currentColor;
  padding-top: 115%; /* 100%/cos(30)  */
  clip-path: polygon(0% 25%,0% 75%,50% 100%,100% 75%,100% 25%,50% 0%);
}
.legendhex img {
    display: block;
    margin: auto;
}
</style>
    <div class="visible sm:invisible" style="position:absolute; top:15%; left: 25px; position: fixed;">
        <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow  ">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Legenda</h5>

            <ul>
                <span class="flex items-center">
                    <div class="legendhex items-center" style="color:#{{workshop.legend_hex_color_1}}; width: 20px;;">
                    </div>
                    <h5>{{workshop.legend_label_1}}</h5>
                </span>
            </ul>
            <ul>
                <span class="flex items-center">
                    <div class="legendhex items-center" style="color:#{{workshop.legend_hex_color_2}}; width: 20px;;">
                    </div>
                    <h5>{{workshop.legend_label_2}}</h5>
                </span>
            </ul>
            <ul>
                <span class="flex items-center">
                    <div class="legendhex items-center" style="color:#{{workshop.legend_hex_color_3}}; width: 20px;;">
                    </div>
                    <h5>{{workshop.legend_label_3}}</h5>
                </span>
            </ul>
            <ul>
                <span class="flex items-center">
                    <div class="legendhex items-center" style="color:#{{workshop.legend_hex_color_4}}; width: 20px;;">
                    </div>
                    <h5>{{workshop.legend_label_4}}</h5>
                </span>
            </ul>
            <ul>
                <span class="flex items-center">
                    <div class="legendhex items-center" style="color:#{{workshop.legend_hex_color_5}}; width: 20px;;">
                    </div>
                    <h5>{{workshop.legend_label_5}}</h5>
                </span>
            </ul>
            
            {% if user.is_authenticated%}
            <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 ">Zoom </h5> 
            <div class="flex">
                <button hx-get="/dashboard/zoom_out"
                hx-trigger="click" hx-target="#zoom" hx-indicator="#spinner" hx-swap="innerHTML" type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700    dark:hover:text-white dark:hover:bg-gray-700">-</button>
                <button hx-get="/dashboard/zoom_in"
                hx-trigger="click" hx-target="#zoom" hx-indicator="#spinner" hx-swap="innerHTML" type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700    dark:hover:text-white dark:hover:bg-gray-700">+</button>
            </div>
            {% endif %}
        </div>
    </div>