<style type="text/css">
    .gridmain {
      display:flex;
      --s: 100px;  /* size  */
      --m: 4px;    /* margin */
      --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
      padding-bottom: 50px;
    }

    .gridcontainer {
      font-size: 0; /*disable white space between inline block element */
    }

    .gridcontainer div {
      width: var(--s);
      margin: var(--m);
      height: calc(var(--s)*1.1547); 
      display: inline-block;
      font-size:initial;
      clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
      margin-bottom: calc(var(--m) - var(--s)*0.2885); 
    }
    /*
    .gridcontainer div:nth-child(odd) {
      background:green;
    }
    */
    .gridcontainer::before {
      content: "";
      width: calc(var(--s)/2 + var(--m));
      float: left;
      height: 120%;
      shape-outside: repeating-linear-gradient(     
                       #0000 0 calc(var(--f) - 3px),      
                       #000  0 var(--f));
    }
    .hexagonhidden {
        padding-top: 10px;
        text-align: center;
        vertical-align: middle;
        background: white;
    }
    .hexagon {
        padding-top: 10px;
        text-align: center;
        vertical-align: middle;
        background: green;
    }

</style>


<div class="gridmain">
        <form class="gridcontainer sortable" hx-post="/dashboard/update" hx-trigger="end">
        {% for card in cards %}
        {% if card.cardtype == 'empty' %}
            <div class="hexagonhidden"><input type='hidden' name='item' value='{{ card.id}}'/>            
            </div>
        {% elif card.cardtype == 'ambition' %}
            <div class="hexagon" style="background: green;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                {{ card.title}}
                {{ card.cardtype }}
                ambition
            </div>
        {% elif card.cardtype == 'challenge' %}
        <div class="hexagon" style="background: red;"><input type='hidden' name='item' value='{{ card.id}}'/>            
            {{ card.title}}
            {{ card.cardtype }}
            challenge
        </div>
        {% elif card.cardtype == 'idea' %}
            <div class="hexagon" style="background: blue;"><input type='hidden' name='item' value='{{ card.id}}'/>            
                {{ card.title}}
                {{ card.cardtype }}
                idea
            </div>
        {% elif card.cardtype == 'pro' %}
        <div class="hexagon" style="background: yellow;"><input type='hidden' name='item' value='{{ card.id}}'/>            
            {{ card.title}}
            {{ card.cardtype }}
            pro
        </div>
        {% endif %}
        {% endfor %}
        </form>
    </div>
</div>