{% extends "base.html" %}

{% block title %}Reset password {% endblock %}
{% block content %}


<div class="flex min-h-full items-center justify-center py-40 px-4 sm:px-6 lg:px-8 bg">
    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div>
        <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-800">Password reset succesfully</h1>
        <p>Log in to your account</p>
        <a href="/user/login">
          <button class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  dark:hover:bg-blue-700 dark:focus:ring-blue-800">Log in</button>
       </a>
      </div>
      
    </div>
  </div>
{% endblock %}