{% extends "base.html" %}

{% block title %}Reset password {% endblock %}
{% block content %}


<div class="flex h-screen items-center justify-center px-4 sm:px-6 lg:px-8 bg">

    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div>
        <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-800">Password reset email sent</h1>
        <p>If we know this email address it should arrive in your mailbox shortly</p>
      </div>
      
    </div>
  </div>
{% endblock %}