{% extends "base.html" %}

{% block title %}Reset password {% endblock %}
{% block content %}
<div style="height: 100px;"></div>


<div class="flex min-h-full items-center justify-center py-40 px-4 sm:px-6 lg:px-8 bg">
    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div>
        <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-800">Password reset email sent</h1>
        <p>If we know this email address it should arrive in your mailbox shortly</p>
      </div>
      
    </div>
  </div>
{% endblock %}