{% extends "base.html" %}

{% block title %}Reset password {% endblock %}
{% block content %}


<div class="flex h-screen items-center justify-center px-4 sm:px-6 lg:px-8 bg">
    <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div>
        <h1 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-800">Password reset succesfully</h1>
        <p>Log in to your account</p>
        <a href="/user/login">
          <button class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" style="background-color: #78E7BF; color: black; box-shadow: 3px 3px;">Log in</button>
       </a>
      </div>
      
    </div>
  </div>
{% endblock %}