<form hx-post="profile/{{user.id}}/edit" hx-indicator="#spinner" hx-target="this" hx-swap="outerHTML">
<dl id="table">
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">First name</dt>
      <input type="text" name="firstName" value="{{user.first_name}}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Last name</dt>
      <input type="text" name="lastname" value="{{user.last_name}}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Email address</dt>
      <input type="text" name="email" value="{{user.email}}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">organisation</dt>
      <input type="text" name="organisation" value="{{user.organisation}}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">

    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Linkedin</dt>
      <input type="text" name="linkedin" value="{{user.linkedin}}" class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
    </div>
</dl>
<button class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-steunkleur-700 rounded-lg hover:bg-steunkleur-800 focus:ring-4 focus:outline-none focus:ring-steunkleur-300  dark:hover:bg-steunkleur-700 dark:focus:ring-steunkleur-800">Save</button>
  </form> 
