<dl id="table">
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">First name</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{user.first_name}}</dd>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Last name</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{user.last_name}}</dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Email address</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{user.email}}</dd>
    </div>
    <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">organisation</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{user.organisation}}</dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Linkedin</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{user.linkedin}}</dd>
    </div>
    <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
      <dt class="text-sm font-medium text-gray-500">Active workshop</dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">{{user.active_workshop}}</dd>
    </div>
  </dd>
</dl>