{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" style="min-height: 100%;">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>
		{% block title %}{% endblock %}
	</title>
	<meta name="description" content="Mapmaker Homepage" />
	<meta name="keywords" content="Mapmaker workshop online tool netwerk" />
	<meta name="author" content="Peter van Doorn" />
	<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet">
	<!--Replace with your tailwind.css once created-->
	{% tailwind_preload_css %}
	{% tailwind_css %}
	<link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
	<!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet" />-->
	<link href="https://fonts.googleapis.com/css?family=Lexend">

	<!--Fontawesome-->
	<!--Favicons-->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static '/images/favicons/apple-icon-57x57.png' %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static '/images/favicons/apple-icon-60x60.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static '/images/favicons/apple-icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static '/images/favicons/apple-icon-76x76.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static '/images/favicons/apple-icon-114x114.png' %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static '/images/favicons/apple-icon-120x120.png' %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static '/images/favicons/apple-icon-144x144.png' %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static '/images/favicons/apple-icon-152x152.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static '/images/favicons/apple-icon-180x180.png' %}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{% static '/images/favicons/android-icon-192x192.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static '/images/favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static '/images/favicons/favicon-96x96.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static '/images/favicons/favicon-16x16.png' %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static '/images/favicons/ms-icon-144x144.png' %}">
	<meta name="theme-color" content="#ffffff">
	<!--Flowbite CSS Components-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css"  rel="stylesheet" />

</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // messages timeout for 10 sec
        setTimeout(function() {
            $('.messages').fadeOut('slow');
        }, 5000); // <-- time in milliseconds, 1000 =  1 sec
    });
</script>
<body id="main" style="background-color: aliceblue;" class="leading-normal tracking-normal text-grey-800 gradient" style="font-family: 'Source Sans Pro', sans-serif;" >
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
			<span class="font-medium">Info alert!</span> {{ message }}
		  </div>
		{% endfor %}
	</ul>
	{% endif %}
	

<!--Nav-->	
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
<div class="container flex flex-wrap items-center justify-between mx-auto">
	{% if user.is_authenticated%}
	<a href="/dashboard" class="flex items-center">
		<img src="{% static '/images/mapmaker_logo.png' %}" class="h-6 mr-3 sm:h-9" alt="mapmaker Logo" />
	</a>
	{% else %}
	<a href="/" class="flex items-center">
		<img src="{% static '/images/mapmaker_logo.png' %}" class="h-6 mr-3 sm:h-9" alt="mapmaker Logo" />
	</a>
	
	{% endif %}

	<button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
	<span class="sr-only">Open main menu</span>
	<svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path></svg>
	</button>
	<div class="hidden w-full md:block md:w-auto" id="navbar-default">
	<ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
		
		{% if user.is_authenticated%}
		<li>
			<a href="/dashboard" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Dashboard</a>
		</li>
		{% if workshop.workshop_owner == user %}
		<li>
			<a href="/workshop/settings" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Workshop settings</a>
		</li>
		{% endif%}
		<li>
			<a href="/user/profile" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Profile</a>
		</li>
		<li>
		<a href="/user/logout" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Log out</a>
		</li>
		{% else %}
		<li>
			<a href="/user/login" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white" aria-current="page">Log in</a>
		</li>
		{% endif %}
	
		<!--  <li>
		<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
		</li>
		<li>
		<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
		</li>
		<li>
		<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Pricing</a>
		</li>
		<li>
		<a href="#" class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
		</li> -->

	</ul>

	</div>
</div>
</nav>




	<!--this is where the content of each page will live-->
				
	
	{% block content%}{% endblock %}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script>
		var scrollpos = window.scrollY;
		var header = document.getElementById("header");
		var navcontent = document.getElementById("nav-content");
		var navaction = document.getElementById("navAction");
		var brandname = document.getElementById("brandname");
		var toToggle = document.querySelectorAll(".toggleColour");

		document.addEventListener("scroll", function () {
		/*Apply classes for slide in bar*/
		scrollpos = window.scrollY;

		if (scrollpos > 10) {
			header.classList.add("bg-white");
			navaction.classList.remove("bg-white");
			navaction.classList.add("gradient");
			navaction.classList.remove("text-gray-800");
			navaction.classList.add("text-white");
			//Use to switch toggleColour colours
			for (var i = 0; i < toToggle.length; i++) {
			toToggle[i].classList.add("text-gray-800");
			toToggle[i].classList.remove("text-white");
			}
			header.classList.add("shadow");
			navcontent.classList.remove("bg-gray-100");
			navcontent.classList.add("bg-white");
		} else {
			header.classList.remove("bg-white");
			navaction.classList.remove("gradient");
			navaction.classList.add("bg-white");
			navaction.classList.remove("text-white");
			navaction.classList.add("text-gray-800");
			//Use to switch toggleColour colours
			for (var i = 0; i < toToggle.length; i++) {
			toToggle[i].classList.add("text-white");
			toToggle[i].classList.remove("text-gray-800");
			}

			header.classList.remove("shadow");
			navcontent.classList.remove("bg-white");
			navcontent.classList.add("bg-gray-100");
		}
		});
	</script>
	<script>
		/*Toggle dropdown list*/
		/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

		var navMenuDiv = document.getElementById("nav-content");
		var navMenu = document.getElementById("nav-toggle");

		document.onclick = check;
		function check(e) {
		var target = (e && e.target) || (event && event.srcElement);

		//Nav Menu
		if (!checkParent(target, navMenuDiv)) {
			// click NOT on the menu
			if (checkParent(target, navMenu)) {
			// click on the link
			if (navMenuDiv.classList.contains("hidden")) {
				navMenuDiv.classList.remove("hidden");
			} else {
				navMenuDiv.classList.add("hidden");
			}
			} else {
			// click both outside link and outside menu, hide menu
			navMenuDiv.classList.add("hidden");
			}
		}
		}
		function checkParent(t, elm) {
		while (t.parentNode) {
			if (t == elm) {
			return true;
			}
			t = t.parentNode;
		}
		return false;
		}
	</script>
	<script>
		document.body.addEventListener('htmx:configRequest', (event) => {
		event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
		})
	</script>
	<script src="https://unpkg.com/htmx.org@1.8.6" integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
	
	
	<script>
	htmx.onLoad(function(content) {
		var sortables = content.querySelectorAll(".sortable");
		for (var i = 0; i < sortables.length; i++) {
		var sortable = sortables[i];
		new Sortable(sortable, {
			animation: 150,
			ghostClass: 'blue-background-class',
			multiDrag: true, // Enable multi-drag
			selectedClass: 'selected', // The class applied to the selected items
			fallbackTolerance: 3, // So that we can select items on mobile
			swap: true, // Enable swap plugin
			swapClass: 'highlight',
		});
		}
	})
	</script>
</body>
</html>