{%  extends 'base.html' %}

{% block content %}
<div class="w-full ml-20 mb-4">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Workshop settings: {{workshop}}</h1>
    <p class="mt-6 text-lg leading-8 text-gray-600">View and edit your workshop, view participants and invite new participants to join! </p>
    <input type="email" id="email" aria-describedby="helper-text-explanation" class="w-60 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@mapmaker.nl">
    <button type="button" class="my-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Invite participant</button>

        <div class="w-1/2">
            <div class=" row overflow-hidden bg-white shadow sm:rounded-lg mx-3 p-5">
                <div class="bg-white py-24 sm:py-32">
                    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl mb-8">Key stats</h1>
            
            <div class="mx-auto max-w-7xl px-6 lg:px-8 ">
                <dl class="grid grid-cols-5 gap-y-16 gap-x-8 text-center lg:grid-cols-3">
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Cards Created</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{cardscount}}</dd>
                    </div>
        
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Comments Posted</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{commentcount}}</dd>
                    </div>
        
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Resources Added</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{resourcecount}}</dd>
                    </div>
        
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Cards Liked</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{likecount}}</dd>
                    </div>
                    <div class="mx-auto flex max-w-xs flex-col gap-y-4">
                    <dt class="text-base leading-7 text-gray-600">Participants</dt>
                    <dd class="order-first text-3xl font-semibold tracking-tight text-gray-900 sm:text-5xl">{{participantcount}}</dd>
                    </div>
                </dl>
                </div>
                </div>
            </div>
        </div>

        </div>
      </div>
      

    


<div class="flex flex-row justify-center">    
    
    <div class="basis-3/8 overflow-hidden bg-white shadow sm:rounded-lg mx-3 p-5">
        <div class="bg-white py-24 sm:py-32">
            
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div class="max-w-2xl mb-4">
                <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Participants: {{participantcount}} </h1>                
            <div class="relative">
                
                </div>
            </div>
                <div class="bg-white py-24 sm:py-32">
                    <div class="mx-auto grid max-w-7xl gap-y-20 gap-x-8 px-6 lg:px-8 xl:grid-cols-3">
                    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                        {% for participant in participants %}
                        <li>
                        <div class="flex items-center gap-x-6">
                            <div class="relative">
                                <img class="w-10 h-10 rounded-full" src="{{ participant.avatar_url}}" alt="{{participant.first_name}} {{participant.last_name}} picture">
                                {% if participant.last_login == participant.date_created %}
                                <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-red-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                                {% else %}
                                <span class="top-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white dark:border-gray-800 rounded-full"></span>
                                {% endif %}
                            </div>
                            <div>
                            <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900">{{ participant.first_name }} {{ participant.last_name }}</h3>
                            <p class="text-sm font-semibold leading-6 text-indigo-600">{{ participant.organisation}}</p>
                            {% if participant.last_login == participant.date_created %}
                                <p class="text-sm font-semibold leading-6 text-indigo-600">Resend invite</p>
                            {% else %}
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">last login {{participant.last_login}} </p>
                            {% endif %}
                            </div>
                        </div>
                        </li>
                        {% endfor %}
                
                        <!-- More people... -->
                    </ul>
                    </div>
            
                
            </div>
        </div>
        </div>
    </div>

    <div class="basis-3/8 overflow-hidden bg-white shadow sm:rounded-lg mx-3 p-5">
        <div class="bg-white py-24 sm:py-32">
        <div class="max-w-2xl mb-4 ">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Workshop details</h2>
        </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div hx-target="this" hx-indicator="#spinner" hx-swap="outerHTML" class="border-t border-gray-200 ">
            {% include 'workshop_details.html' with workshop=workshop participants=participants %}
            <button hx-get="profile/{{user.id}}/edit" class="m-4 inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" >
                Click To Edit
            </button>
        </div>
    </div>
    </div>
</div>


{% endblock %}
